.list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
    list-style: none;
}
.list li{
    padding:6px;
}
.list li:before {
    padding-right:10px;
    font-weight: bold;
    color: #8a8888;
    content: "\2714";
    transition-duration: 0.5s;
}
.list li:hover:before {
    color: #c41821;
    content: "\2714";
}    